/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* site stlyes */
body {
  font-family: Lato, sans-serif; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

nav {
  padding: 0.5em;
  top: 0;
  width: 100%;
  text-align: center; }

h1, h2 {
  font-size: 2em;
  text-align: left;
  color: white; }

.upper {
  background: #999;
  width: 100%;
  top: 0;
  height: 3em;
  z-index: 10; }

.items {
  position: relative; }

.item {
  margin: 0 auto;
  width: 100%;
  height: 93vh;
  position: relative;
  display: grid;
  grid-template-columns: 4fr 2fr 3fr 3fr minmax(2em, 1fr);
  grid-template-rows: 5em -webkit-max-content max-content 1fr;
  grid-template-rows: 5em max-content max-content 1fr;
  grid-template-areas: "main-img main-img title title ." "main-img main-img pullquote pullquote pullquote" "main-img main-img text text ." "detail-img-1 detail-img-2 detail-text detail-text .";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden; }
  .item:last-child {
    height: 100vh; }
  .item-section {
    padding: 2em;
    z-index: 5; }
  .item-main-index {
    padding: 2em; }
  .item-main-inner {
    width: 100%;
    margin: 0 auto; }
  .item-info-index {
    padding: 0;
    min-width: 20em; }
  .item-info-detail-text {
    margin-bottom: 2.5em;
    margin-top: 1em;
    max-width: 30em;
    line-height: 1.2;
    font-size: 1em; }
    .item-info-detail-text-header {
      margin-bottom: 0.5em;
      display: none;
      max-width: 30em; }
      @media screen and (min-width: 51em) {
        .item-info-detail-text-header {
          display: block; } }
    .item-info-detail-text-p {
      opacity: 1;
      -webkit-transition: .2s ease all;
      transition: .2s ease all; }
      @media screen and (min-width: 51em) {
        .item-info-detail-text-p {
          opacity: 0;
          height: 0; } }
  .item-info-detail-images-button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: .8em 1.8em;
    position: relative;
    border: solid rgba(255, 255, 255, 0.6) 0.2em;
    width: 9em;
    padding: 0;
    border-radius: 50%;
    height: 9em;
    background-color: transparent;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    grid-area: detail-img-1;
    justify-self: end; }
    .item-info-detail-images-button:last-of-type {
      grid-area: detail-img-2;
      justify-self: start; }
    .item-info-detail-images-button.selected {
      border-width: 1em;
      margin: 0 1em; }
      .item-info-detail-images-button.selected:after {
        border-width: 1em; }
      .item-info-detail-images-button.selected:before {
        content: "-"; }
      .item-info-detail-images-button.selected > img {
        height: 120%; }
    .item-info-detail-images-button:before {
      content: "+";
      z-index: 10;
      position: absolute;
      color: white;
      font-size: 2em;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      font-weight: bold; }
    .item-info-detail-images-button:after {
      content: "";
      -webkit-transition: .2s ease all;
      transition: .2s ease all;
      border-radius: 50%;
      left: 0;
      top: 0;
      position: absolute;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 100%;
      width: 100%; }
    .item-info-detail-images-button:hover {
      border-color: #333; }
      .item-info-detail-images-button:hover:before {
        color: #333; }
      .item-info-detail-images-button:hover:after {
        border-color: #333; }
    .item-info-detail-images-button img {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      -webkit-transition: .2s ease all;
      transition: .2s ease all; }
  .item-house-images {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .item-house-images-inner {
      height: 50vw;
      max-height: 55vh;
      position: relative;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      grid-area: main-img;
      -ms-flex-item-align: center;
          align-self: center; }
      .item-house-images-inner .img-house-overall {
        opacity: 0.4; }
        .item-house-images-inner .img-house-overall.img--hide, .item-house-images-inner .img-house-overall.img--hide-h {
          opacity: 0; }
  .item-index-images {
    display: block;
    position: relative;
    grid-area: images;
    height: 50vw;
    max-height: 55vh;
    position: relative; }
    .item-index-images .img-house-overall {
      opacity: 1; }
      .item-index-images .img-house-overall.img--dim {
        opacity: 0.2; }
    .item-index-images .img-house-item {
      opacity: 0; }
      .item-index-images .img-house-item.img--show {
        opacity: 1; }
    @media screen and (max-width: 51em) {
      .item-index-images {
        height: 60vw;
        max-height: 25em; } }
  .item-title {
    font-size: 4em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    grid-area: title; }
    .item-title-anchor {
      position: absolute; }
    @media screen and (max-width: 51em) {
      .item-title {
        margin-top: 1em;
        width: initial; } }
    @media screen and (max-width: 27em) {
      .item-title {
        font-size: 2.5em; } }
  .item-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 100%;
    grid-area: nav;
    top: 0;
    width: 100%; }
    .item-nav-header {
      font-size: 1.2em;
      color: #333;
      margin: .5em 0; }
    .item-nav-item {
      list-style-type: none;
      position: relative;
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }
      .item-nav-item-link {
        display: block;
        color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 1.5em;
        padding-left: 1.333em;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .item-nav-item-link:visited, .item-nav-item-link:link {
          color: white; }
        .item-nav-item-link:hover {
          text-decoration: underline; }
        .item-nav-item-link:after {
          content: "";
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: transparent;
          opacity: 0.4;
          top: 0;
          left: 0;
          background-blend-mode: multiply;
          -webkit-transition: .2s ease all;
          transition: .2s ease all; }
        @media screen and (max-width: 51em) {
          .item-nav-item-link {
            position: relative;
            min-height: 2em; } }
    .item-nav:hover .item-nav-item-link:not(:hover):after {
      background-color: black; }
    @media screen and (max-width: 51em) {
      .item-nav {
        position: relative; } }
  .item-text-a, .item-text-b {
    padding: 1em;
    line-height: 1.2;
    max-width: 30em;
    grid-area: text;
    margin-right: auto; }
  .item-text-b {
    position: relative;
    padding: 1em;
    background: #f2f2f2;
    font-style: italic;
    padding-right: 4em;
    margin-left: -2em;
    margin-top: 1em;
    grid-area: pullquote;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 1.3em; }
  .item-index {
    z-index: 10;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: -webkit-max-content -webkit-min-content 1fr;
    grid-template-rows: max-content min-content 1fr;
    grid-template-areas: ". title" "images text" "images nav"; }
    .item-index.rev {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "title ." "text images" "nav images"; }
    .item-index-title {
      font-size: 2em;
      line-height: 1.2;
      padding: 1em 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      background: #f2f2f2;
      color: #333;
      margin: 0; }
      .item-index-title.rev {
        padding-left: 1em; }
    .item-index-text {
      grid-area: text;
      max-width: 30em;
      color: #333;
      background: #f2f2f2;
      line-height: 1.2em;
      padding: 0 3em 0em 2em; }
      .item-index-text.rev {
        padding-left: 2em;
        padding-right: 0em; }
  .item:nth-child(even) {
    grid-template-columns: minmax(2em, 1fr) 3fr 3fr 2fr 4fr;
    grid-template-areas: ". title title main-img main-img" "pullquote pullquote pullquote main-img main-img" ". text text main-img main-img" ". detail-text detail-text detail-img-1 detail-img-2"; }
    .item:nth-child(even) .item-title {
      width: 7.5em;
      margin-left: auto; }
    .item:nth-child(even) .item-text-b {
      padding-right: 1em;
      margin-right: -2em;
      padding-left: 4em; }
    .item:nth-child(even) .item-text-a {
      margin-left: auto;
      margin-right: initial; }
  @media screen and (max-width: 51em) {
    .item {
      height: initial;
      grid-template-rows: auto; }
      .item:not(:first-child) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title" "main-img main-img" "pullquote pullquote" "text text" "detail-text detail-text" "detail-img-1 detail-img-2"; }
      .item:last-child {
        height: initial; }
      .item:nth-child(odd):not(:first-child) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title" "main-img main-img" "pullquote pullquote" "text text" "detail-text detail-text" "detail-img-1 detail-img-2"; }
      .item-index {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "images" "text" "nav"; }
        .item-index-title {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          padding: 1em 1em; }
        .item-index-text {
          padding: 2em 1em;
          max-width: initial; } }

.img-house {
  max-width: 80vh;
  width: 100%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: .2s ease all;
  transition: .2s ease all; }
  .img-house-item-info {
    opacity: 0;
    max-height: 40vw;
    width: auto; }

.img--show, .text--show {
  opacity: 1; }

.img--hide, .text--hide {
  opacity: 0; }

.img--show-h {
  opacity: 1; }

.img--hide-h {
  opacity: 0; }

.top-nav {
  position: fixed;
  top: 0;
  z-index: 7;
  width: 100%; }
  .top-nav-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    min-height: 2em; }
  .top-nav-item {
    list-style-type: none;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .top-nav-item-link {
      display: inline-block;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0.5em;
      text-align: center;
      color: white;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      box-sizing: border-box; }
      .top-nav-item-link:visited, .top-nav-item-link:link {
        color: white; }
      .top-nav-item-link:hover {
        text-decoration: underline; }
      .top-nav-item-link:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
        opacity: 0.2;
        top: 0;
        left: 0;
        background-blend-mode: multiply;
        -webkit-transition-duration: .2s;
                transition-duration: .2s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-property: all;
        transition-property: all; }
  .top-nav:hover .top-nav-item-link:not(:hover):after {
    background-color: black; }

.item:nth-child(1), .top-nav-item:nth-child(1) .top-nav-item-link {
  background-image: linear-gradient(115deg, #999, gray); }

.item:nth-child(2), .item-nav-item:nth-child(1) .item-nav-item-link, .top-nav-item:nth-child(2) .top-nav-item-link {
  background-image: linear-gradient(115deg, #3BB873, #2f915b); }

.item:nth-child(3), .item-nav-item:nth-child(2) .item-nav-item-link, .top-nav-item:nth-child(3) .top-nav-item-link {
  background-image: linear-gradient(115deg, #82A6CB, #5e8cbc); }

.item:nth-child(4), .item-nav-item:nth-child(3) .item-nav-item-link, .top-nav-item:nth-child(4) .top-nav-item-link {
  background-image: linear-gradient(115deg, #EEBB55, #e9a827); }

.item:nth-child(5), .item-nav-item:nth-child(4) .item-nav-item-link, .top-nav-item:nth-child(5) .top-nav-item-link {
  background-image: linear-gradient(115deg, #94ED88, #6ce65c); }

.item:nth-child(6), .item-nav-item:nth-child(5) .item-nav-item-link, .top-nav-item:nth-child(6) .top-nav-item-link {
  background-image: linear-gradient(115deg, #88D498, #63c678); }
