/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* site stlyes */
body {
  font-family: Lato, sans-serif; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

nav {
  padding: 0.5em;
  top: 0;
  width: 100%;
  text-align: center; }

h1, h2 {
  font-size: 2em;
  text-align: center;
  color: white; }

.upper {
  background: #999;
  width: 100%;
  top: 0;
  height: 3em;
  z-index: 10; }

.items {
  position: relative; }

.item {
  margin: 0 auto;
  width: 100%;
  height: 93vh;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  overflow: hidden; }
  .item:last-child {
    height: 100vh; }
  .item-index {
    z-index: 10; }
  .item-section {
    flex: 1 1 auto;
    display: flex;
    padding: 2em;
    flex-flow: column;
    z-index: 5; }
  .item-main {
    flex: 2 2 auto;
    order: 2;
    flex-flow: row;
    align-items: center; }
    .item-main-index {
      padding: 2em; }
    .item-main-inner {
      width: 100%;
      margin: 0 auto;
      flex: 1 1 100%; }
  .item-info {
    flex: 1 1 20em;
    order: 3;
    justify-content: center; }
    .item-info-index {
      flex: 1 1 auto;
      padding: 0;
      min-width: 20em; }
    .item:nth-child(even) .item-info {
      order: 1; }
      .item:nth-child(even) .item-info-images {
        justify-content: flex-end; }
      @media screen and (max-width: 51em) {
        .item:nth-child(even) .item-info {
          order: 3; } }
    .item-info-images {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; }
      .item-info-images > button {
        flex: 0 0 6rem;
        box-sizing: border-box;
        margin: 1em;
        position: relative;
        border-width: 0;
        padding: 0;
        border-radius: 50%;
        overflow: hidden;
        height: 6rem;
        border: solid 1em transparent;
        box-sizing: content-box; }
        .item-info-images > button.selected {
          border-color: white; }
        .item-info-images > button img {
          height: 100%;
          width: auto; }
    @media screen and (max-width: 51em) {
      .item-info {
        flex-basis: auto; } }
  .item-house-images {
    display: block;
    position: relative;
    flex: 1 1 auto; }
    .item-house-images-inner {
      height: 50vw;
      max-height: 55vh;
      position: relative;
      margin: 0 auto;
      box-sizing: border-box; }
    .item-house-images .img-house-overall {
      opacity: 0.4; }
      .item-house-images .img-house-overall.img--hide, .item-house-images .img-house-overall.img--hide-h {
        opacity: 0; }
  .item-index-images {
    display: block;
    position: relative;
    flex: 1 1 auto; }
    .item-index-images .img-house-overall {
      opacity: 1; }
      .item-index-images .img-house-overall.img--dim {
        opacity: 0.2; }
    .item-index-images .img-house-item {
      opacity: 0; }
      .item-index-images .img-house-item.img--show {
        opacity: 1; }
    @media screen and (max-width: 51em) {
      .item-index-images {
        height: 60vw;
        max-height: 25em; } }
  .item-title {
    font-size: 4em;
    order: 1;
    flex-basis: 100%;
    align-self: center; }
    .item-title-anchor {
      position: absolute; }
    @media screen and (max-width: 51em) {
      .item-title {
        margin-top: 1em; } }
    @media screen and (max-width: 27em) {
      .item-title {
        font-size: 2.5em; } }
  .item-nav {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; }
    .item-nav-item {
      list-style-type: none;
      position: relative;
      display: block;
      flex: 1 1 auto; }
      .item-nav-item-link {
        display: block;
        color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        font-size: 2em;
        padding-left: 1em;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
        min-height: 2em; }
        .item-nav-item-link:visited, .item-nav-item-link:link {
          color: white; }
        .item-nav-item-link:hover {
          text-decoration: underline; }
        .item-nav-item-link:after {
          content: "";
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: transparent;
          opacity: 0.4;
          top: 0;
          left: 0;
          background-blend-mode: multiply;
          transition: .2s ease all; }
        @media screen and (max-width: 51em) {
          .item-nav-item-link {
            position: relative; } }
    .item-nav:hover .item-nav-item-link:not(:hover):after {
      background-color: black; }
    @media screen and (max-width: 51em) {
      .item-nav {
        position: relative; } }
  .item-text {
    max-width: 30em;
    line-height: 1.2;
    font-size: 1.2em;
    padding: 1em; }
    .item-text-a, .item-text-b {
      margin-bottom: 1em; }
  @media screen and (max-width: 51em) {
    .item {
      flex-flow: column;
      height: initial; } }

.img-house {
  max-width: 90vh;
  width: 100%;
  height: auto;
  position: absolute;
  transition: .2s ease all;
  left: 50%;
  transform: translateX(-50%); }
  .img-house-item-info {
    opacity: 0;
    max-height: 55vw;
    width: auto; }

.img--show {
  opacity: 1; }

.img--hide {
  opacity: 0; }

.img--show-h {
  opacity: 1; }

.img--hide-h {
  opacity: 0; }

.top-nav {
  position: fixed;
  top: 0;
  z-index: 7;
  width: 100%; }
  .top-nav-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    min-height: 2em; }
  .top-nav-item {
    list-style-type: none;
    position: relative;
    flex: 1 1 auto; }
    .top-nav-item-link {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 0.5em;
      text-align: center;
      color: white;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      box-sizing: border-box; }
      .top-nav-item-link:visited, .top-nav-item-link:link {
        color: white; }
      .top-nav-item-link:hover {
        text-decoration: underline; }
      .top-nav-item-link:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
        opacity: 0.2;
        top: 0;
        left: 0;
        background-blend-mode: multiply;
        transition-duration: .2s;
        transition-timing-function: ease;
        transition-property: all; }
  .top-nav:hover .top-nav-item-link:not(:hover):after {
    background-color: black; }

.item:nth-child(1), .top-nav-item:nth-child(1) .top-nav-item-link {
  background-image: linear-gradient(115deg, #999, gray); }

.item:nth-child(2), .item-nav-item:nth-child(1) .item-nav-item-link, .top-nav-item:nth-child(2) .top-nav-item-link {
  background-image: linear-gradient(115deg, #3BB873, #2f915b); }

.item:nth-child(3), .item-nav-item:nth-child(2) .item-nav-item-link, .top-nav-item:nth-child(3) .top-nav-item-link {
  background-image: linear-gradient(115deg, #EEBB55, #e9a827); }

.item:nth-child(4), .item-nav-item:nth-child(3) .item-nav-item-link, .top-nav-item:nth-child(4) .top-nav-item-link {
  background-image: linear-gradient(115deg, #82A6CB, #5e8cbc); }

.item:nth-child(5), .item-nav-item:nth-child(4) .item-nav-item-link, .top-nav-item:nth-child(5) .top-nav-item-link {
  background-image: linear-gradient(115deg, #94ED88, #6ce65c); }

.item:nth-child(6), .item-nav-item:nth-child(5) .item-nav-item-link, .top-nav-item:nth-child(6) .top-nav-item-link {
  background-image: linear-gradient(115deg, #88D498, #63c678); }
