$md: 51em;
$sm: 27em;

@import 'reset';

  /* site stlyes */

body {
    font-family: Lato, sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

nav {
    padding: 0.5em;
    top: 0;
    width: 100%;
    text-align: center;
    //background: rgba(0,0,0,0.6);
}

h1, h2 {
   font-size: 2em;
   text-align: center;
   color: white;
}

.upper {
    background: #999;
    //position: fixed;
    width: 100%;
    top: 0;
    height: 3em;
    z-index: 10;
}

.items {
    position: relative;
}

.item {
    margin: 0 auto;
    width: 100%;
    height: 93vh;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    overflow: hidden;
    &:last-child {
        height: 100vh;
    }
    &-index {
        z-index: 10;
    }
    &-section {
        flex: 1 1 auto;
        display: flex;
        padding: 2em;
        flex-flow: column;
        z-index: 5;
    }
    &-main {
        flex: 2 2 auto;
        order: 2;
        flex-flow: row;
        align-items: center;
        &-index {
            padding: 2em;
        }
        &-inner {
            width: 100%;
            margin: 0 auto;
            flex: 1 1 100%;
        }
    }
    &-info {
        flex: 1 1 20em;
        order: 3;
        justify-content: center;
        &-index {
            flex: 1 1 auto;
            padding: 0;
            min-width: 20em;
        }
        
        .item:nth-child(even) & {
            order: 1;
            &-detail-images {
                justify-content: flex-start;
            }
            @media screen and (max-width: $md) {
                order: 3;
            }
        }
        &-detail-text {
            margin-bottom: 2.5em;
            &-header {
                margin-bottom: 0.5em;
                display: none;
                @media screen and (min-width: $md) {
                    display: block;
                }
            }
            &-p {
                opacity: 1;
                transition: .2s ease all;
                @media screen and (min-width: $md) {
                    opacity: 0;
                    height: 0;
                }
            }
        }
        &-detail-images {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            margin-top: 2em;
            & > button {
                flex: 1 0 7em;
                box-sizing: border-box;
                margin: 0 1em;
                position: relative;
                border: solid rgba(255,255,255,0.6) 3px;
                padding: 0;
                //border-radius: 50%;
                overflow: hidden;
                height: 4rem;
                background-color: transparent;

                box-sizing: content-box;
                transition: .2s ease border-color;

                &.selected {
                    &:after {
                        border-width: 0.125em 1.25em;
                        content: "-";
                    }
                    & > img {
                        height: 200%;
                    }
                }
                &:after {
                    content: "+";
                    transition: .2s ease all;
                    //border-radius: 50%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    box-sizing: border-box;
                    height: 100%;
                    color: white;
                    font-size: 2em;
                    line-height: 3em;
                    width: 100%;
                    border: solid 0 rgba(255,255,255,0.6);
                }
                &:hover {
                    &:after {
                        color: #333;
                    }
                    border-color: #333;
                }
                & img {
                height: 150%;
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                transform: translateY(-50%) translateX(-50%);
                transition: .2s ease all;
                }
            }
        }
        @media screen and (max-width: $md) {
            flex-basis: auto;
        }
    }
    &-house-images {
        display: block;
        position: relative;
        flex: 1 1 auto;
        &-inner {
            height: 50vw;
            max-height: 55vh;
            position: relative;
            margin: 0 auto;
            box-sizing: border-box;
        }
        .img-house-overall {
            opacity: 0.4;
            &.img--hide, &.img--hide-h {
                opacity: 0;
            }
        }
    }
    &-index-images {
        display: block;
        position: relative;
        flex: 1 1 auto;
        .img-house-overall {
            opacity: 1;
            &.img--dim {
                opacity: 0.2;
            }
        }
        .img-house-item {
            
            opacity: 0;
            &.img--show {
                opacity: 1;
            }
        }
        @media screen and (max-width: $md) {
            height: 60vw;
            max-height: 25em;
        }
    }
    &-title {
        font-size: 4em;
        order: 1;
        flex-basis: 100%;
        align-self: center;
        &-anchor {
            position: absolute;
        }
        @media screen and (max-width: $md) {
            margin-top: 1em;
        }
        @media screen and (max-width: $sm) {
            font-size: 2.5em;
        }
    }
    &-nav {
        display: flex;
        flex-flow: column;
        height: 100%;
        position:absolute;
        top:0;
        width:100%;
        
        &-item {
            list-style-type: none;
            position: relative;
            display: block;
            flex: 1 1 auto;
            &-link{
                
                display: block;
                color: white;
                height: 100%;
                width: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                font-size: 2em;
                padding-left: 1em;
                text-decoration: none;
                font-family: 'Montserrat', sans-serif;
                box-sizing: border-box;
                min-height: 2em;
                &:visited, &:link, {
                    color: white;
                }
                &:hover {
                    text-decoration: underline;
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: transparent;
                    opacity: 0.4;
                    top: 0;
                    left: 0;
                    background-blend-mode: multiply;
                    transition: .2s ease all;
                }
                @media screen and (max-width: $md) {
                    position: relative;
                }
            }
        }
        &:hover &-item-link:not(:hover):after {
            background-color: black;
        }
        @media screen and (max-width: $md) {
            position: relative;
        }
    }
    
    &-text {
        max-width: 30em;
        line-height: 1.2;
        font-size: 1.2em;
        padding: 1em;
        &-a, &-b {
            margin-bottom: 1em;
        }
    }
    @media screen and (max-width: $md) {
        flex-flow: column;
        height: initial;
    }

}

.img-house {
    max-width: 80vh;
    width: 100%;
    height: auto;
    position: absolute;
    transition: .2s ease all;
    left: 50%;
    transform: translateX(-50%);
    &-item {
        &-info {
            opacity: 0;
            max-height: 40vw;
            width: auto;
        }
    }
}

.img--show, .text--show {
    opacity: 1;
}

.img--hide, .text--hide {
    opacity: 0;
}

.img--show-h {
    opacity: 1;
}

.img--hide-h {
    opacity: 0;
}

.top-nav {
        
        position: fixed;
        top: 0;
        z-index: 7;
        width: 100%;
        
        &-list {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        min-height: 2em;
          
        }
        &-item {
            list-style-type: none;
            position: relative;
            flex: 1 1 auto;
            &-link{
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                padding: 0.5em;
                text-align: center;
                
                color: white;
                text-decoration: none;
                font-family: 'Montserrat', sans-serif;
                box-sizing: border-box;
                &:visited, &:link, {
                    color: white;
                }
                &:hover {
                    text-decoration: underline;
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: transparent;
                    opacity: 0.2;
                    top: 0;
                    left: 0;
                    background-blend-mode: multiply;
                    transition-duration: .2s;
                    transition-timing-function: ease;
                    transition-property: all;
                }
            }
        }
        &:hover &-item-link:not(:hover):after {
            background-color: black;
        }
    }

.item:nth-child(1), .top-nav-item:nth-child(1) .top-nav-item-link {
    $color: #999;
    background-image: linear-gradient(115deg, $color, darken($color, 10%));
}

.item:nth-child(2), .item-nav-item:nth-child(1) .item-nav-item-link, .top-nav-item:nth-child(2) .top-nav-item-link  {
    $color: #3BB873;
    background-image: linear-gradient(115deg, $color, darken($color, 10%));
}

.item:nth-child(3), .item-nav-item:nth-child(2) .item-nav-item-link, .top-nav-item:nth-child(3) .top-nav-item-link {
    $color: #82A6CB;
    background-image: linear-gradient(115deg, $color, darken($color, 10%));
}

.item:nth-child(4), .item-nav-item:nth-child(3) .item-nav-item-link, .top-nav-item:nth-child(4) .top-nav-item-link {
    $color: #EEBB55;
    background-image: linear-gradient(115deg, $color, darken($color, 10%));
}

.item:nth-child(5), .item-nav-item:nth-child(4) .item-nav-item-link, .top-nav-item:nth-child(5) .top-nav-item-link {
    $color: #94ED88;
    background-image: linear-gradient(115deg, $color, darken($color, 10%));
}

.item:nth-child(6), .item-nav-item:nth-child(5) .item-nav-item-link, .top-nav-item:nth-child(6) .top-nav-item-link  {
    $color: #88D498;
    background-image: linear-gradient(115deg, $color, darken($color, 10%));
}